html {
    font-family: MyCustomFont, "Segoe UI";
}



#box {
    width: 100vw;
    height: 100vh;
}

.header {
    font-size: 20px;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 7vh;
    width: 100vw;
    background-color: black;
    box-shadow: 10px 1rem 1rem rgba(255, 255, 255, 0.87);
    opacity: 0.9;
}

.header .logo{
    font-size: 22px;
    font-weight: normal;
    color: white;
    padding-left: 6px;
}

.header_selectbar {
    display: inline-block;
    position: relative;
    margin-left: 30px;
}

.header_select {
    display: inline-block;
    padding-right: 10px;
    margin-left: 40px;
}

.header_select_item {
    display: flex;
    align-items: center;
    position: relative;
    /*代表裡面的元素以此為基準   例如下一層left:20  就是往右20*/
    float: left;
    width: auto;
    margin: 0 15px;
    /*上右下左的順序*/
    height: 66px;
    line-height: 66px;
    text-align: center;
    color: #ccc;

}

.header_select_sublist {
    position: absolute;
    top: 66px;
    left: -20px;
    background: #272626;
    opacity: 0;
    transition: all 0.2s ease-in;
    margin: 0;
}

.header_select_sublist li {
    width: 214px;
    height: 63px;
    text-align: left
}

.header_select_sublist_option {
    color: #ccc;

}

.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    z-index: 1000;
    position: absolute;

}

.blue_point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    z-index: 1000;
    position: absolute;

}


/* #map {
    width: 20vw;
    height: 10vh;
} */